[Unit]
Description=Firefly IO.

[Service]
Type=idle
ExecStart=/usr/bin/FireflyIO
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target