div.centered {
    margin:auto;
    padding: 5px;
    text-align: center;
    width: 100%;
}
div.header {
    background-color: black;
    color: lightcyan;
}

img.logo {
    float: right;
}

td.label {
    width:30%;
    text-align:right;
    border-right-style:solid;
    border-right-width:2px;
    padding-right:5px;
}

td.buttonLabel {
    width:5em;
    text-align:right;
    border-right-style:solid;
    border-right-width:2px;
    padding-right:5px;
}

td.upDownButton {
    width:1em;
    text-align: center;
}
td.inputField {
    width:3em;
    text-align: center;
}
td {
    padding-left:5px;
}
div {
    padding:5px;
}
h2 {
    text-align:center;
}
h2.AnalogueInputsTitle {
    background-color: black;
    color: #dad55e;
}
h2.ACMeasurementTitle {
    background-color: black;
    color: yellowgreen;
}
h2.DCMeasurementTitle {
    background-color: black;
    color: aliceblue;
}
table {
    margin:auto;
}
tr.AnalogueHeader{
    background-color: black;
    color: #fffa90;
}
tr.AnalogueData{
    background-color: blanchedalmond;
}
th.AnalogueName{
    padding-left: 20px;
    padding-right: 20px;
}
th.AnalogueData{
    padding-left: 20px;
    padding-right: 20px;
}
td.AnalogueName {
    text-align: right;
    font-weight: bold;
}
td.AnalogueData {
    text-align: center;
}
th.DIHigh {
    background-color:green;
    color:white;
    padding: 10px;
}
th.DILow {
    background-color:red;
    color:white;
    padding: 10px;
}
th.DOHigh {
    background-color:green;
    color:white;
    padding:10px
}
th.DOLow {
    background-color:red;
    color:white;
    padding:10px
}
th.RelayOn {
    background-color:green;
    color:white;
    padding:10px
}
th.RelayOff {
    background-color:red;
    color:white;
    padding:10px
}
th.RelayChanging {
    background-color:orange;
    color:white;
    padding:10px
}
table.Relays {
    border-color: darkslategray;
    border-width: medium;
    border-style: solid;
    background-color: lightseagreen;
}
table.Electrolyser {
    width:48vw;
    border-color: darkslategray;
    border-width: medium;
    border-style: solid;
    background-color: azure;
}
table.Dryer {
    width: 28vw;
    border-color: darkslategray;
    border-width: medium;
    border-style: solid;
    background-color: azure;
}
table.FuelCell {
    width: 39vw;
    border-color: darkslategray;
    border-width: medium;
    border-style: solid;
    background-color: seashell;
}
table.Gas {
    width: 30vw;
    border-color: darkslategray;
    border-width: medium;
    border-style: solid;
    background-color: lightseagreen;
}
table.Water {
    width: 25vw;
    border-color: darkslategray;
    border-width: medium;
    border-style: solid;
    background-color: cornflowerblue;
}
table.AC {
    width: 35vw;
    border-color: darkslategrey;
    border-width: medium;
    border-style: solid;
    background-color: palegreen;
}
table.settings {
    border-color: darkslategrey;
    border-width: medium;
    border-style: solid;
    background-color: gainsboro;
}
tr.ACHeader {
    background-color: black;
    color: greenyellow;
}
tr.ACData {
    background-color: antiquewhite;
}
tr.ACError {
    background-color: paleturquoise;
}
tr.DCHeader {
    background-color: black;
    color: aliceblue;
}
tr.DCData {
    background-color: antiquewhite;
}
tr.DCError {
    background-color: paleturquoise;
}
th.settings {
    background-color: blue;
    color: white;
}
th.settingsHeader {
    background-color: blue;
    color: white;
    font-size: large;
    font-weight: bold;
}
th.ACName {
    padding-left: 10px;
    padding-right: 10px;
}
th.ACData {
    padding-left: 20px;
    padding-right: 20px;
}
th.DCName {
    padding-left: 10px;
    padding-right: 10px;
}
th.DCData {
    padding-left: 20px;
    padding-right: 20px;
}

td.ACName {
    text-align: right;
    font-weight: bold;
}
td.ACData {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
td.ACError {
    color: red;
    font-weight: bold;
    text-align: left;
}
td.DCName {
    text-align: right;
    font-weight: bold;
}
td.DCData {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
td.DCError {
    font-weight: bold;
    text-align: left;
}

form.settings {
    background-color: aliceblue;
}
input.settings {
    background-color: antiquewhite;
}

span.connectionLost {
    font-weight: bold;
    color: red;
}
span.statusText {
    font-weight: normal;
    text-align: center;
    width: 100%;
}

img.swOn {
    width: 2em;
    height: 2em;
    content: url("/images/power-on.png");
}

img.swOff {
    width: 2em;
    height: 2em;
    content: url("/images/power-off.png");
}

img.depressed {
    border:solid;
    padding-top:3px;
    padding-left:3px;
    border-color:lightgrey;
}

img.ArrowButton {
    width: 2em;
    height: 2em;
}

.submitButton {
    background-color:#44c767;
    border-radius:23px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:19px;
    padding:9px 45px;
    text-decoration:none;
    text-shadow:1px 2px 0 #2f6627;
}
.submitButton:hover {
    background-color:#5cbf2a;
}
.submitButton:active {
    position:relative;
    top:1px;
}
.inputControl {
    color:#0b58a2;
    font-family: Arial, serif;
    font-size:19px;
    padding:5px 5px;
    width: 3em;
}
span.alarm {
    color:#ff0000;
    font-family: "Arial Black", serif;
    font-weight: bold;
    font-size: large;
}
span.units {
    display: inline-block;
    width:2em;
}
span.version {
    font-size: small;
    color: green;
}

span.error {
    color: red;
    font-weight: bold;
}

div.alarm {
    background-color: #93c3cd;
}

